@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">SOCIEDADE HÍPICA PAULISTA</h1>

    <div>
        <img src="/img/shp.png"/>
    </div>

    <div>
        <p class="h2">Desenvolvido por Luiz Abreu</p>
    </div>
</div>
